%YAML 1.1
%TAG !u! tag:unity3d.com,2011:
--- !u!114 &11400000
MonoBehaviour:
  m_ObjectHideFlags: 0
  m_CorrespondingSourceObject: {fileID: 0}
  m_PrefabInstance: {fileID: 0}
  m_PrefabAsset: {fileID: 0}
  m_GameObject: {fileID: 0}
  m_Enabled: 1
  m_EditorHideFlags: 0
  m_Script: {fileID: 11500000, guid: 4a30cbcb9bb3e0b41823e663504d8534, type: 3}
  m_Name: SDKConfig
  m_EditorClassIdentifier: 
  bundleIDIos: 
  bundleIDAndroid: sim.swordsman.game
  signatures: -1
  iosAppID: 
  channelID: 
  firebaseConfig:
    isEnable: 1
    remoteConfig:
      isEnable: 1
      isDebugMode: 0
      priority: 1
    storageConfig:
      isEnable: 1
      isDebugMode: 0
      priority: 1
      bucketUrl: 
    messageConfig:
      isEnable: 1
      isDebugMode: 0
      priority: 1
  dataAnalysisConfig:
    isEnable: 0
    appsflyerConfig:
      isEnable: 1
      isDebugMode: 0
      priority: 1
      appKey: DdWbxT9VRELdEsZiAcnGea
    dataeyeConfig:
      isEnable: 1
      isDebugMode: 0
      priority: 1
      appID: 
    gameAnalysisConfig:
      isEnable: 1
      isDebugMode: 0
      priority: 1
    facebookConfig:
      isEnable: 1
      isDebugMode: 0
      priority: 1
    firebaseConfig:
      isEnable: 1
      isDebugMode: 0
      priority: 1
    talkingDataConfig:
      isEnable: 1
      isDebugMode: 0
      priority: 1
      appId: 
    tenjinConfig:
      isEnable: 1
      isDebugMode: 0
      priority: 1
      isCustomEvent: 0
      apiKey: VGZALVOWFWMNCBMRD41FKEABVLVFXKZP
      deeplink: 
    ttEvtConfig:
      isEnable: 1
      isDebugMode: 0
      priority: 1
    rangersConfig:
      isEnable: 1
      isDebugMode: 0
      priority: 1
      appId: 
      channel: 
  adsConfig:
    isEnable: 1
    interstitialAdCoolingTime: 30
    rewardedVideoAdCoolingTime: 30
    taurusXAdAdsConfig:
      isEnable: 1
      isDebugMode: 0
      priority: 1
      appIDAndroid: 
      appIDIos: 
  socialConfig:
    isEnable: 0
    fbConfig:
      appLinkAndroid: 
      appLinkiOS: 
      previewImageAndroid: 
      previewImageiOS: 
      shareLink: 
